@import 'src/sass/theme'

.inputWrapper
  display: flex
  flex-direction: column
  width: 100%
  position: relative

  .labelWrapper
    display: flex
    align-items: center

    .label
      +small-white-text
      margin-bottom: 5px

    .labelIcon
      margin-left: 5px
      margin-bottom: 5px


  .input
    height: 36px
    margin-bottom: 20px
    background-color: transparent
    border: 1px solid rgba(255, 255, 255, 0.16)
    color: rgba(255, 255, 255, 0.72)
    padding: 0 65px 0 10px
    outline: none

  .inputIconOne
    position: absolute
    right: 10px
    top: 42%

    &:hover
      cursor: pointer

  .inputIconTwo
    position: absolute
    right: 40px
    top: 45%

    &:hover
      cursor: pointer
