@import 'src/sass/theme'

.proposalVotingCard
  background: rgba(255, 255, 255, 0.08)
  padding: 24px

  .heading
    display: flex
    justify-content: space-between
    align-items: center

    .headingText
      +small-medium-white-text

    .headingData
      display: flex
      align-items: center
      +small-medium-white-text

      .currentValue
        +small-medium-white-text
      .maxValue
        +medium-grey-text


