@import 'src/sass/theme'

.selectContainer
  display: flex
  justify-content: flex-start
  flex-direction: column
  width: 100%

  .label
    +small-white-text
    margin-bottom: 5px

.selectWrapper
  position: relative
  height: 36px
  margin-bottom: 20px
  background-color: transparent
  border: 1px solid rgba(255, 255, 255, 0.16)
  color: rgba(255, 255, 255, 0.72)
  outline: none

  .valueContainer
    display: flex
    align-items: center
    justify-content: space-between
    height: 36px
    padding: 0 12px
    cursor: pointer

    p
      margin: 0

  .options
    display: none

  .show
    display: flex
    flex-direction: column
    //background: rgba(255, 255, 255, 0.08)
    background: red
    position: absolute
    padding: 0
    margin: 0
    left: 0
    top: 36px
    max-height: 152px
    height: 100%
    list-style: none
    width: 100%
    z-index: 2


  .option
    //padding: 12px
      cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between





