@import 'src/sass/theme'
.socials
  width: 30%
  display: flex
  align-items: center
  justify-content: space-around
  +phone
    justify-content: space-between
    width: 70%
    margin: 16px 0 16px 25px
