@import 'src/sass/theme'

.tableCell
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 53.68%, rgba(255, 255, 255, 0.08) 100%) no-repeat
  +small-grey-text
  color: transparent
  background-position-x: left
  background-size: 50%
